html {
    /* スクロールバーを表示しない */
    overflow: hidden;
    /* ダブルタップでズームを無効にする */
    touch-action: manipulation;
}

body {
    margin: 0; 
    font-family: "M PLUS 1p"
}

/* 一番上のパーツ */
#control_top1 {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    height: 10%;
    place-items: center;
    text-align: center;
}

/* 上から2番目のパーツ */
#control_top2 {
    position: fixed;
    top: 10%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    height: 10%;
    width: 100%;
    place-items: center;
    text-align: center;
    z-index: 1000;
}

/* 下から2番目のパーツ */
#control_bottom2 {
    position: fixed;
    bottom: 10%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    height: 10%;
    width: 100%;
    place-items: center;
    text-align: center;
    z-index: 1000;
}

/* 一番下のパーツ */
#control_bottom1 {
    position: fixed;
    bottom: 0;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    height: 10%;
    width: 100%;
    place-items: center;
    text-align: center;
    z-index: 1000;
}

/* 中央4つのcss設定 */
.ui {
    display: block;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    background: linear-gradient(to bottom right,#cc2b5e,#753a88);
    border-radius: 1em;
    color: white;
    width: 90%;
    height: 90%;
    font-size: 2em;
}


video {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 80%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -5;
}

/* 一番上のレイヤー(服のアウトライン) */
#lineArtCanvas {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 80%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 500;
}

/* 上から２番目のレイヤー(選択アイテムのみ反映するレイヤー) */
#frameCanvas {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 80%;
    transform: translateX(-50%) translateY(-50%);
}

/* カメラからの画像を写すキャンバス */
#preCanvas {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 80%;
    transform: translateX(-50%) translateY(-50%);
}

/* 生成した画像を表示するキャンバス */
#genCanvas {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 80%;
    transform: translateX(-50%) translateY(-50%);
}

/* 一番上のui設定 */
.topbar {
    display: block;
    appearance: none;
    font-size: 50px;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    background: linear-gradient(to bottom right,#ec008c, #fc6767);
    border-radius: 0.5em;
    height: 1.3em;
    color: white;
}

/* 一番下のui設定 */
#disable {
    display: block;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    background: linear-gradient(to bottom right,#BDFFF3,#4AC29A);
    border-radius: 1em;
    color: white;
    width: 90%;
    height: 80%;
    font-size: 2em;
}
